<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
    <div class="top-segment">
        <h1>CalPal</h1>
        <div class="grid-container">
            
            <div class="button-container">
                <form method="GET" action="./Calories_In">
                    <button class="button calorie-button" type="submit">Calories-In</button>
                </form>
                <form method="GET" action="./Revert_Calories_In">
                    <button class="button revert-button" type="submit">Remove last entry</button>
                </form>
                <form method="GET" action="./">
                    <button class="button preview-button" id="openWindowButton" type="submit">Preview picture taken</button>
                </form>
                <script src="static/script.js"></script>
            </div>
            
            <div class="input-container">
                <div class="in-data">
                    <div class="half-label-container">
                        <div class="left-input-label in-label">Food</div>
                        <div class="output-label">{{info.food}}</div>
                        <!-- <input type="text" class="user-input" placeholder="Input 1" id="food"> -->
                    </div>
                    <div class="half-label-container">
                        <div class="right-input-label in-label">Weight (grams)</div>
                        <div class="output-label">{{info.weight}}</div>
                        <!-- <input type="text" class="user-input" placeholder="Input 1" id="weight"> -->
                    </div>
                </div>
                <div class="out-data">
                    <div class="full-label-container">
                        <div class="center-input-label out-label ">Calories-In</div>
                        <div class="output-label">{{info.caloriesIn}}</div>
                        <!-- <input type="text" class="user-input" placeholder="Input 1" id="caloriesIn"> -->
                    </div>
                </div>
            </div>

            <div class="button-container">
                <form method="GET" action="./Calories_Out">
                    <button class="button calorie-button" type="submit">Calories-Out</button>
                </form>
                <form method="GET" action="./Revert_Calories_Out">
                    <button class="button revert-button" type="submit">Remove last entry</button>
                </form>
            </div>
            
            <div class="input-container">
                <div class="in-data">
                    <div class="half-label-container">
                        <div class="left-input-label in-label">Activity</div>
                        <div class="output-label">{{info.activity}}</div>
                        <!-- <input type="text" class="user-input" placeholder="Input 1" id="food"> -->
                    </div>
                    <div class="half-label-container">
                        <div class="right-input-label in-label">Duration (mins)</div>
                        <div class="output-label">{{info.duration}}</div>
                        <!-- <input type="text" class="user-input" placeholder="Input 1" id="weight"> -->
                    </div>
                </div>
                <div class="out-data">
                    <div class="full-label-container">
                        <div class="center-input-label out-label">Calories-Out</div>
                        <div class="output-label">{{info.caloriesOut}}</div>
                        <!-- <input type="text" class="user-input" placeholder="Input 1" id="caloriesIn"> -->
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="net-data">
            <div class="net-label-container">
                <div class="center-input-label out-label">Net Calories Gain/Loss</div>
                <div class="output-label">{{info.netCalories}}</div>
                <!-- <input type="text" class="user-input" placeholder="Input 1" id="caloriesIn"> -->
            </div>
        </div>
    </div>

    <div class="bottom-segment">
        <div class="center-container">
            <h1>Your Calories Journey</h1>
            <img src="static/line_graph.png" alt="Sample Graph">
        </div>
        
    </div>
</body>
</html>