/* Add some basic styling for appearance */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* Additional styling for better visual separation */
h1 {
    text-align: center;
    padding: 20px;
}

/* Apply the background colors to the top and bottom segments */
.top-segment {
    background-color: #DFE777;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically in the top segment */
    align-items: center; /* Center items horizontally in the top segment */
    min-height: 300px; /* Set a minimum height for the top-segment, adjust as needed */
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically within the center container */
    margin-bottom: 20px; /* Add some space between h1 and the center container */
}

.sub-container {
    display: flex;
    flex-direction: row; /* Display buttons vertically */
    align-items: center; /* Center buttons horizontally within the button container */
    margin: 10px;
}

.input-container {
    display: flex;
    flex-direction: column; /* Display buttons vertically */
    align-items: center; /* Center buttons horizontally within the button container */
    margin: 10px;
}

.in-data {
    display: flex;
    flex-direction: row; /* Display buttons vertically */
    align-items: center; /* Center buttons horizontally within the button container */
    margin: 10px;
}

.output {
    display: inline-block; /* Make it an inline-block element */
    min-width: 100px; /* Set a minimum width */
    padding-right: 10px; /* Apply padding */
}

.button {
    background-color: #2E3105;
    color: #FFFDC1;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #3a320f; /* Change the color as desired */
    margin: 20px 0; /* Add some spacing above and below the line */
}


.bottom-segment {
    background-color: #FEFFE9;
    height: 50%; /* Adjust the height as needed */
}