
* {
    background-color: lightblue;
}

#main-text {
    padding-top: 100px;
}

h1 {
    font-family: Comic Nueue;
    font-size: 70px;
    text-align: center;
}

h2 {
    font-family: Comic Nueue;
    padding-bottom: 70px;
    text-align: center;
}

#registration-description {
    text-align: center;
}


.g-3 {
    padding-left: 200px;
} 



